@using Orchard.Utility.Extensions;
@{
  if (Model.Title != null) {
    Layout.Title = Model.Title;
  }

  var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="post">
  <header>
    @Display(Model.Header)
    @if (Model.Meta != null) {
      <div class="meta">
        @Display(Model.Meta)
      </div>
    }
  </header>
  <div class="articleContent">
    @Display(Model.Content)
  </div>
  @if (Model.Footer != null) {
    <footer>
      @Display(Model.Footer)
    </footer>
  }
</article>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5914aa2b4b8191ff"></script>